<h1 class="text-3xl mb-6">Memories</h1>

<PensieveWeb.MemoryInformation.information memories={@memories} />


<!-- This line: -->
<li :for={memory <- @memories}><%= memory.title %></li>

<!-- Is equivalent to writing this: -->
<%!--
<%= for memory <- @memories do %>
  <li><%= memory.title %></li>
<% end %>
--%>